{% extends layout %}
{% block title %}API Campus Supinfo{% endblock %}
{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <p class="panel">
                <a href="/api/campus/all">Get all campus. Return JSON format</a>
            </p>
            <p class="panel">
                <a href="/api/campus/Bordeaux">Get campus by name. Return JSON format</a>
                <br/>
                Example with Campus "Bordeaux".
            </p>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <h4>Example code</h4>
                    <pre class="code">
// Prepare the link that is going to be used on the GET request
NSURL * url = [[NSURL alloc] initWithString:p_url];

// Prepare the request object
NSURLRequest *urlRequest = [NSURLRequest requestWithURL:url
cachePolicy:NSURLRequestReturnCacheDataElseLoad
timeoutInterval:30];

// Prepare the variables for the JSON response
NSData *urlData;
NSURLResponse *response;
NSError *error;

// Make synchronous request
urlData = [NSURLConnection sendSynchronousRequest:urlRequest
returningResponse:&response
error:&error];

// Construct a Array around the Data from the response
NSArray* objects = [NSJSONSerialization
JSONObjectWithData:urlData
options:0
error:&error];

for(NSObject *object in objects) {

    // Localisation
    NSObject *localisation = [st valueForKey:@"localisation"];
    float lat = [[localisation valueForKey:@"lat"] floatValue];
    float lng = [[localisation valueForKey:@"lng"] floatValue];

    ...
}
                    </pre>
        </div>
    </div>
{% endblock %}